{% extends "amd_base.html" %}
{% block title %}学生用户{% endblock %}
{% block head %}
  <!-- PAGE TITLE HERE -->

  <!-- Datatable -->
  <link href="{{ url_for('static',filename='amd/css/jquery.dataTables.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/弹窗.css') }}">
  <!-- Custom Stylesheet -->
{% endblock %}
{% block body %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Profile Datatable</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="example3" class="display" style="min-width: 845px">
              <thead>
              <tr>
                <th>id</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>电话</th>
                <th>学校</th>
                <th>专业</th>
                <th>年级</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              {% for each in  all_stu %}
                {% if each.name!='超级管理员' %}
                  <tr>
                    <td>{{ each.id }}</td>
                    <td>{{ each.name }}</td>
                    <td>{{ each.gender }}</td>
                    <td>{{ each.age }}</td>
                    <td>{{ each.tel }}</td>
                    <td>{{ each.school }}</td>
                    <td>{{ each.major }}</td>
                    <td>{{ each.grade }}</td>
                    <td>
                      <div class="d-flex">
                        <a href="#" class="btn btn-primary shadow btn-xs sharp me-1" id="triggerBtn{{ each.id }}"><i
                                class="fas fa-pencil-alt"></i></a>
                        <a href="{{ url_for('user.amd_del_stu',stu_id=each.id) }}"
                           class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                      </div>
                    </td>
                  </tr>
                  <div id="myModal{{ each.id }}" class="modal">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2>编辑信息</h2>
                        <span id="closeBtn{{ each.id }}" class="close">×</span>
                      </div>
                      <div class="modal-body">
                        <form method="post" action="{{ url_for('user.amd_change_stu',stu_id=each.id) }}"
                              enctype="multipart/form-data">
                          <div class="form-group">
                            <label for="exampleInputEmail1">姓名</label>
                            <input type="text" class="form-control" name="name" value="{{ each.name }}">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">性别</label>
                            <input type="text" class="form-control" name="gender" value="{{ each.gender }}">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">年龄</label>
                            <input type="text" class="form-control" name="age" value="{{ each.age }}">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">电话</label>
                            <input type="text" class="form-control" name="tel" value="{{ each.tel }}">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">学校</label>
                            <input type="text" class="form-control" name="school" value="{{ each.school }}">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">专业</label>
                            <input type="text" class="form-control" name="major" value="{{ each.major }}">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">年级</label>
                            <input type="text" class="form-control" name="grade" value="{{ each.grade }}">
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-success">提交</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
              <!--<tr>
                <td><img class="rounded-circle" width="35" src="static/picture/pic11.jpg" alt=""></td>
                <td>Jenette Caldwell</td>
                <td>Development Lead</td>
                <td>Female</td>
                <td>B.A, B.C.A</td>
                <td><a href="javascript:void(0);"><strong>123 456 7890</strong></a></td>
                <td><a href="javascript:void(0);"><strong>info@example.com</strong></a></td>
                <td>2011/09/03</td>
                <td>
                  <div class="d-flex">
                    <a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                  </div>
                </td>
              </tr>-->
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
      window.onload = function () {
          {% for ee in  all_stu %}
              {% if ee.name!='超级管理员' %}
              document.getElementById("triggerBtn{{ ee.id }}").onclick = function () {
                  //hat.show();
                  console.log(document.getElementById("myModal{{ ee.id }}"));
                  document.getElementById("myModal{{ ee.id }}").style.display = "block";
              }

              /*模态框关闭*/
              document.getElementById("closeBtn{{ ee.id }}").onclick = function () {
                  document.getElementById("myModal{{ ee.id }}").style.display = "none";
              }
              {% endif %}
          {% endfor %}
      }
      /*模态框显示*/

      /*当用户点击模态框内容之外的区域，模态框也会关闭*/
      /*modalBox.outsideClick = function () {
          var modal = this.modal;
          window.onclick = function (event) {
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }
      }*/
  </script>
  <script src="https://www.17sucai.com/preview/1097306/2021-09-08/xhtml/vendor/apexchart/apexchart.js"></script>
  <!-- Datatable -->
  <script src="{{ url_for('static',filename='amd/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static',filename='amd/js/datatables.init.js') }}"></script>
{% endblock %}