{% extends "base.html" %}
{% block title %}完善用户信息{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
  <div class="row mt-4">
    <div class="col">
    </div>
    <div class="col">
      <form method="post" action="{{ url_for("user.change_user") }}" enctype="multipart/form-data">
        <div class="form-group">
          <label for="exampleInputPassword1">上传头像</label>
          <input type="file" size="30" class="form-control" name="photo">
          <small id="emailHelp" class="form-text text-muted">图片不得大于30KB</small>
        </div>
        {% for message in get_flashed_messages() %}
          <div class="form-group">
            <div class="text-danger">{{ message }}</div>
          </div>
        {% endfor %}
        <div class="form-group">
          <label for="exampleInputPassword1">姓名</label>
          <input type="text" class="form-control" name="name" value="{{ user_exts.name }}">
        </div>

        <fieldset class="form-group row">
          <legend class="col-form-label col-sm-2 float-sm-left pt-0">性别</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" id="gridRadios1" value="男" checked>
              <label class="form-check-label" for="gridRadios1">
                男
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" id="gridRadios2" value="女">
              <label class="form-check-label" for="gridRadios2">
                女
              </label>
            </div>
          </div>
        </fieldset>

        <div class="form-group">
          <label for="exampleInputPassword1">年龄</label>
          <input type="text" class="form-control" name="age" value="{{ user_exts.age }}">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">电话</label>
          <input type="text" class="form-control" name="tel" value="{{ user_exts.tel }}">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">学校</label>
          <input type="text" class="form-control" name="school" value="{{ user_exts.school }}">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">专业</label>
          <input type="text" class="form-control" name="major" value="{{ user_exts.major }}">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">年级</label>
          <input type="text" class="form-control" name="grade" value="{{ user_exts.grade }}">
        </div>
        <button type="submit" class="btn btn-primary btn-block">提交</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
{% endblock %}